*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Gochi Hand', cursive; */
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff8ff;
    height: 100vh;
    
}
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px #eff8ff;
    
}

